probe not happy with .url = "/xxx";

Hey,

First of all, thanks for this nice extension, it's finally allowing us to get rid of some local nginx instances and use only varnish to connect to AWS ALB directly.

Problem is, we can't make the probes happy, they fail ~for some reason and I can't understand why~ because the dynamic vmod probes don't send a valid HTTP/1.1 request, more specifically, the `Host` header is missing.

Here how it looks on the nginx side:
```
10.132.58.46 - - [02/Aug/2017:18:19:54 +0000] "GET /ping HTTP/1.1" 200 14 "-" "curl/7.38.0"
10.132.58.46 - - [02/Aug/2017:18:19:55 +0000] "GET /ping HTTP/1.1" 200 14 "-" "-"
10.132.58.46 - - [02/Aug/2017:18:19:54 +0000] "GET /ping HTTP/1.1" 400 166 "-" "-"
```
curl works, normal backend works, dynamic backend probe gets 400 because:
```
2017/08/02 18:48:29 [info] 1784#1784: *710 client sent HTTP/1.1 request without "Host" header while reading client request headers, client: 10.132.58.46, server: _, request: "GET /ping HTTP/1.1"
```

So, according to RFC 2316, section 14.23, HTTP 1.1 requests must contain a host header. If they don't, a server must reply with error 400.

This module should just put the DNS name of the backend as `Host` header, or just the IP like curl does when no server name is specified:
```
$ curl 10.132.17.10/ping -v
* Hostname was NOT found in DNS cache
*   Trying 10.132.17.10...
* Connected to 10.132.17.10 (10.132.17.10) port 80 (#0)
> GET /ping HTTP/1.1
> User-Agent: curl/7.38.0
> Host: 10.132.17.10
> Accept: */*
>
< HTTP/1.1 200 OK
```

Maybe you can also check what the original varnish code for probe does. Currently the workaround is:
```
probe www_probe {
    .request =
      "GET /ping HTTP/1.1"
      "Host: www.foo.bar"
      "Connection: close";
    .timeout = 1s;
    .window = 8;
    .initial = 7;
    .threshold = 6;
    .interval = 5s;
}
```

Cheers,
R

Also, here is how it looks on the nginx side:

```
10.132.58.46 - - [02/Aug/2017:18:19:54 +0000] "GET /ping HTTP/1.1" 200 14 "-" "curl/7.38.0"
10.132.58.46 - - [02/Aug/2017:18:19:54 +0000] "GET /ping HTTP/1.1" 400 166 "-" "-"
10.132.58.46 - - [02/Aug/2017:18:19:55 +0000] "GET /ping HTTP/1.1" 200 14 "-" "-"
```

curl work, normal backend works, dynamic backend probe gets 400 for some unknown reason...

@razvanphp the ``host_header`` attribute allowed to set the Host header used by probes.
But you are right that the better way is to use the name provided to the ``.backend()`` method, which I have implemented now. The new ``share = HOST`` argument should give you what you need.